body {
  background-color: lightgray;
}
.link {
  background-color: black;
  padding: 1rem;
  margin-left: 10px;
  margin-top: 10px;
}
.link:hover {
  background-color: white;
}

table, td {
  border-collapse: collapse;
  background-color: black;
  text-align: center;
  padding: 8px;
}

th {
  background-color: yellow;
  text-align: center;
  padding: 8px;
}
