body {
    background-color: #8A2BE2;

  table {
    border-collapse: collapse;
  }
  nav{
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 1em;
  }
 nav>ul{
     display: flex;
     list-style-type: none;
 }
 li>a{
     text-decoration: none;
     padding: 1em;
     margin: 1em;
     background-color: #FF8C00;
     border-radius: 0.8em;
 }
 li>a:hover{
     background-color: #FFD700;
     transition-duration: 1s;
 }

  th {
    height: 70px;
  }
  td {
    text-align: center;
  }
  th {
    text-align: center;
  }
  tr:nth-child(even) {
      background-color: yellow;
}
  th {
    background-color:yellow;
    color: black;
  }
  h1{
    color: lightcyan;
  }

