* {
    margin: 0;
    padding: 1;
}
.container {
    background-color: white;
    padding: 5px;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
    "a a b b c c"
    "d d e  f f"
    "g g h h f f";
}

header {
    background-color:red;
    grid-area: a;
    height: 20vh;
    
    
}

nav {
    background-color: lightgreen;
    grid-area: b;
    height: 20vh;
}

main {
background-color: green;
grid-area: c;
height: 20vh;
}

aside {
    grid-area: d;
    background-color: aqua;
    height: 40vh;  
}

footer {
background-color: magenta;
grid-area: e;
height: 40vh;
}
.a{
background-color: aqua;
grid-area: ;
height: 40vh; 
}

test
